//- Extend layout
//-------------------------------------------------
include ../atoms/**/*.jade
extends ../layout/layout


//- Page
//-------------------------------------------------
block append layout-body
  body.l-body
    +a-loader()

    .l-page.l-page-cases
      +a-header('cases', 'bg-none')


      main.l-main.l-main-inside
        .panel.panel-approach
          .l-wrap.c-anim-fade-in
            .panel-in
              h3.c-name
                | Подход<br>
                span.alt к поставленным целям
              .panel__content.small Миссия - это деловое понятие, отражающее предназначение бизнеса, его основную цель. <br>В отличие от видения миссия характеризует только "настоящее" организации: вид, масштабы деятельности, отличия от конкурентов, оставляя без внимания перспективы развития бизнеса. Миссия детализирует статус предприятия и обеспечивает ориентиры для выработки целей и стратегий на различных организационных уровнях. <br>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
        //- panel

        .case-posts
          .l-wrap
            .case-posts__nav
              ul.menu
                li.item.active: a(href="#all").link Все кейсы
                li.item: a(href="#outside").link Наружная реклама
                li.item: a(href="#inside").link Аэропорты
            .case-posts__content
              mixin case-post(category, pic, name, company, text)
                .case-post.c-anim-fade-in
                  .case-post__left
                    .category= category
                    .pic: a(href="case.html"): img(src="img/case-post-#{pic}.jpg", alt=name).img
                  .case-post__right
                    a(href="case.html").name= name
                    .company= company
                    .text= text

              +case-post('Наружная реклама', '1', 'Название проекта', 'Airfrance', 'Описание. В своей работе мы стремимся сделать пребывание пассажира «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
              +case-post('Реклама в аэропортах', '2', 'Очень длинное название масшта...', 'Hooters', 'Описание. В своей работе мы стремимся сделать пребывание пассажира «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
              +case-post('Наружная реклама', '3', 'Название проекта', 'Other', 'Описание. В своей работе мы стремимся сделать пребывание пассажира «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
              +case-post('Реклама в аэропортах', '1', 'Очень длинное название масштаба космоса', 'Hooters', 'Описание. В своей работе мы стремимся сделать пребывание пассажира «в пути» более комфортным и интересным, а для Рекламодателей контакт со своим потребителем более эффективным.')
            .case-posts__more
              a(href="#").btn.btn-blue Показать еще
        //- case-post

        +a-contacts
